
//typography
$default-font-size: 14px
$default-line-height: 1.85em
$font-family-base: 'NeueHaasGroteskDisp', sans-serif
$default-text-color: #000000

$font-family-secondary: 'NeueHaasGroteskDisp', sans-serif

$default-transition-duration: 0.3s
$default-transition-function: ease-out
$default-transition: 0.3s ease-out


//breakpoints
$breakpoint-xxl: 1800px    
$breakpoint-xl: 1441px
$breakpoint-lg: 992px
$breakpoint-md: 769px
$breakpoint-sm: 576px
$breakpoint-xs: 375px

$grid-gutter: 20px


//colors
$color-black: #000
$color-primary: #000
$color-bg-gradient: linear-gradient(#4726ef 0%, #9fc3fd 0.03%, #bec5ff 32.64%, #cfc8ff 47.14%, #dcc8fe 62.22%, #e3cafe 69.57%, #eac9fd 79.67%, #f1cbfe 100%)
$color-bg-gradient-green: linear-gradient(#189b67 0%, #dcff95 99.77%, #63ff71 100%) 
$color-bg-gradient-blue: linear-gradient(#97e6e3 0%, #4ca5b2 99.77%, #63ff71 100%)
$color-bg-gradient-red: linear-gradient(#d30022 0%, #fad48b 99.77%, #63ff71 100%)
$color-bg-gradient-pink: linear-gradient(#e33f7a 0%, #f6dfe8 99.77%, #63ff71 100%)