.container
	padding-left: 62px
	padding-right: 62px
	
	+max-screen($breakpoint-md)
		padding-left: 30px
		padding-right: 30px
	+max-screen($breakpoint-sm)
		padding-left: 30px
		padding-right: 30px
	&--full	
		max-width: 100%