.container
	padding-left: 35px
	padding-right: 35px
	+min-screen($breakpoint-xxl)
		max-width: 1690px
	+max-screen($breakpoint-md)
		padding-left: 20px
		padding-right: 20px
	+max-screen($breakpoint-sm)
		padding-left: 15px
		padding-right: 15px
	&--full	
		max-width: 100%