html, body
  -webkit-overflow-scrolling: touch

body
	font-family: $font-family-base
	font-size: $default-font-size
	font-weight: 400
	font-style: normal
	line-height: $default-line-height
	color: $default-text-color
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	-webkit-backface-visibility: hidden
	-webkit-tap-highlight-color: transparent
	::-moz-selection
		color: $color-primary
		background: transparent
	::selection
		color: $color-primary
		background: transparent


.text
	&--style
		&-small
			font-size: 12px
			line-height: 14px
			text-transform: uppercase
			letter-spacing: 0.05em
			font-weight: 500
	&--default,&--default *
		font-family: $font-family-base
		font-size: $default-font-size
		font-weight: 600
		font-style: normal
		line-height: $default-line-height
	&--uppercase
		text-transform: uppercase
	&--left
		text-align: left
	&--right
		text-align: right
	&--center
		text-align: center
	&-color
		&-white
			&,& *, &.content-block *
				color: #fff
		&-primary
			&,& *
				color: $color-primary
		&-default
			&,& *
				color: $default-text-color
	&--underline
		text-decoration: underline
	&--spacing
		letter-spacing: 0.05em
	&--opacity
		opacity: 0.5
	&--size
		&--12
			font-size: 12px
			line-height: 16px
		&--14
			font-size: 14px
			line-height: 1.2em
		&--16
			font-size: 16px
			line-height: 1.2em
		&--24
			font-size: 24px
	&--outline
		color: transparent
		-webkit-text-stroke: 1px $default-text-color
		.content-block &
			color: transparent
		.text-color-white &
			-webkit-text-stroke: 1px #fff


.font
	&--primary
		font-family: $font-family-base
		font-weight: 600
	&--italic
		font-style: italic
	&-weight
		&-300,
		&-300 *
			font-weight: 300
		&-400,
		&-400 *
			font-weight: 400
		&-500,
		&-500 *
			font-weight: 500
		&-700,
		&-700 *
			font-weight: 700
		&-900,
		&-900 *
			font-weight: 900


.p1
	font-size: 22px
	line-height: 1.54em
	color: #a5a5a5
.p2
	font-size: 18px
	line-height: 1.55em
	color: #a5a5a5
.p3
	font-size: 18px
	letter-spacing: -0.01em
	line-height: 1.55em

h1,.h1
	font-size: 183px
	line-height: 1.2em
	font-weight: 400
	+max-screen($breakpoint-xl)
		font-size: 120px
	+max-screen($breakpoint-lg)
		font-size: 84px
	+max-screen($breakpoint-md)
		font-size: 70px
	+max-screen($breakpoint-sm)
		font-size: 40px
h2,.h2
	font-size: 30px
	line-height: 1.2em
	font-weight: 400
	+max-screen($breakpoint-xl)
	+max-screen($breakpoint-lg)

	+max-screen($breakpoint-md)	
		font-size: 26px
h3,.h3
	font-size: 26px
	line-height: 1.3em
	font-weight: 400
	+max-screen($breakpoint-xl)
	+max-screen($breakpoint-md)	
		font-size: 22px
		
h4,.h4
	font-size: 18px
	line-height: 1.2em
	font-weight: 400
	+max-screen($breakpoint-xl)
	+max-screen($breakpoint-md)	
		font-size: 18px

.h5,h5
	font-size: 20px
	font-weight: 700
	+max-screen($breakpoint-lg)
	+max-screen($breakpoint-md)	
		font-size: 18px

h6,.h6
	font-size: $default-font-size
	line-height: $default-line-height
	font-weight: 400
	+max-screen($breakpoint-md)	
		

.title
	font-weight: 700
	text-transform: uppercase
	font-size: 70px
	line-height: 0.97em
	+max-screen($breakpoint-md)
		font-size: 48px
	&-md
		font-size: 86px
		line-height: 82px
		+max-screen($breakpoint-lg)
			font-size: 54px
			line-height: 1em
		+max-screen($breakpoint-sm)
			font-size: 38px
			line-height: 1.1em
	&-lg
		font-size: 100px
		line-height: 94px
		+max-screen($breakpoint-xl)
			font-size: 7vw
			line-height: 0.85
		+max-screen($breakpoint-lg)
			line-height: 1
		+max-screen($breakpoint-sm)
			line-height: 1.2

.link--underline
	position: relative
	&:before
		content: ''
		position: absolute
		bottom: 0
		right: 0
		width: 100%
		height: 1px
		background-color: $color-primary
		transition: 0.2s ease-out
	&:hover:before
		width: 0


.content-block
	p,h1,h2,h3,h4,h5,h6
		padding: rem(9px 0)
		+max-screen($breakpoint-md)
			padding: rem(9px 0)
		&:nth-child(1)
			padding-top: 0
		&:nth-last-child(1)
			padding-bottom: 0
	h1,h2
		//padding-bottom: 0
		//margin-bottom: -10px
		&:nth-last-child(1)
			margin-bottom: 0
	h3
		padding-bottom: 10px
		&:nth-last-child(1)
			margin-bottom: 0
	.title
		padding-bottom: 35px
	h1,h2,h3,h4,h5
		color: $default-text-color	
		.text-color-white &
			color: #fff
	p,ul,ol
		color: $default-text-color
		.text-color-white &
			color: #fff
	a
		&:not(.button)
			transition: 0.3s
			&:hover
				opacity: 0.8

	.button
		margin-top: rem(40px)
		margin-bottom: rem(40px)
		&:nth-child(1)
			//margin-top: 0
		&:nth-last-child(1)
			margin-bottom: 0
		+max-screen($breakpoint-md)
			margin-top: rem(30px)
			margin-bottom: rem(30px)
	ul
		padding: rem(12px 0)
		padding-left: 15px
		+max-screen($breakpoint-md)
			padding-left: 15px
		+max-screen($breakpoint-sm)
			padding-left: 15px
		.textBlock--full  &
			padding-left: 15px
			+max-screen($breakpoint-md)

		&>li
			display: block
			position: relative
			margin-bottom: 5px
			&:nth-last-child(1)
				margin-bottom: 0
			&:before
				content: ''
				background-color: $color-primary
				width: 8px 
				height: 8px
				min-width: 8px
				border-radius: 50%
				margin-bottom: 0.12em
				margin-right: 5px
				font-weight: 700
				position: absolute
				right: 100%
				top: 6px
			ol
				padding: 10px
				padding-left: rem(30px)
				&>li
					margin-bottom: 0
			ul
				padding: 10px
				padding-left: rem(30px)
	ol
		list-style-type: decimal
		counter-reset: my-counter
		padding: rem(12px 0)
		padding-left: 25px
		+max-screen($breakpoint-md)
			padding-left: 25px
		+max-screen($breakpoint-sm)
			padding-left: 25px
		&>li
			list-style-type: decimal
			counter-increment: my-counter
			margin-bottom: 5px
			position: relative
			&:nth-last-child(1)
				margin-bottom: 0
			&::marker
				color: $default-text-color
				//margin-bottom: 5px
				font-weight: 600
			ol
				padding: 10px
				padding-left: 30px
			ul
				padding: rem(10px 0)
				padding-left: rem(30px)
	img
		width: 100%
		height: auto
		border-radius: rem(10px)
		overflow: hidden
	code
		margin: 12px 0
		line-height: $default-line-height
		padding: 2px 4px
		border: 1px solid #dde4e9
		background-color: #F6F6F6
		color: #232527
		display: inline-block
	pre
		white-space: pre-wrap
	blockquote
		margin: rem(24px 0)
		position: relative
		padding-left: rem(75px)
		padding-top: rem(20px)
		+max-screen($breakpoint-sm)
			padding-left: rem(30px)
			padding-right: rem(30px)
			padding-top: rem(5px)
		p
			font-size: rem(30px)
			line-height: rem(42px)
			font-weight: 400
			+max-screen($breakpoint-md)
				font-size: rem(24px)
				line-height: 1.25em
		a
			font-size: 14px
			line-height: 19px
		& *
			z-index: 1
		+max-screen($breakpoint-md)

		&:before
			content: ''
			position: absolute
			top: 0
			left: 0
			width: rem(55px)
			height: rem(55px)
			background-image: url(../assets/images/icon-quote.svg)
			background-repeat: no-repeat
			background-size: contain
			background-position: center
			+max-screen($breakpoint-sm)
				width: rem(30px)
				height: rem(30px)
				left: -10px
	.wpcf7
		padding: rem(12px 0)
		&:nth-last-child(1)
			padding-bottom: 0
	&--md
		p
			font-size: 18px
			line-height: 1.55em
	&--lg
		p
			font-size: 20px
	&--xl
		p
			font-size: 22px
			line-height: 1.54em

	