.scene-bar
    position: fixed
    bottom: 0
    left: 0
    width: 100%
    background-color: $color-blue-bg
    height: 145px
    z-index: 90
    will-change: background-color
    +max-screen($breakpoint-md)
        height: 150px
        //transition: 0.5s ease-out
        .started &
            height: 170px

    &:after
        display: none
        content: ''
        position: absolute
        bottom: -158px
        left: 0px
        width: 100%
        height: 116px
        background-image: url(../assets/images/mobile-bar-bg.svg)
        background-size: cover
        background-position: top center
        background-repeat: no-repeat
        transition: 1s ease-out
        pointer-events: none
        +max-screen($breakpoint-md)
            display: block
            .started &
                bottom: 0
        +max-screen($breakpoint-md)
            left: -56%
            width: 240%
            height: 135%
        +max-screen($breakpoint-sm)
            height: 190px
        +max-screen(500px)
            height: 164px
        +max-screen(420px)
            height: 148px
    &__start
        position: absolute
        left: 50%
        bottom: 48px
        transform: translate3d(-50%, 0, 0)
        transition: 0.5s ease-out
        z-index: 5
        +max-screen($breakpoint-md)
            bottom: 36px
        .started &
            transform: translate3d(-50%, -20px, 0)
            opacity: 0

        &__text
            +max-screen($breakpoint-md)
                display: none
        .button
            display: none
            +max-screen($breakpoint-md)
                display: inline-block

    &__language
        position: absolute
        right: 62px
        bottom: 48px
        z-index: 1
        +max-screen($breakpoint-md)
            bottom: 24px
            right: auto
            left: 30px

            transition: 0.5s ease-out
            opacity: 0
            transform: translate3d(0, 20px, 0)
            .started &
                opacity: 1
                transform: translate3d(0, 0, 0)

    &__link
        position: absolute
        left: 62px
        bottom: 48px
        z-index: 1
        +max-screen($breakpoint-md)
            bottom: 24px
            left: auto
            right: 30px

            transition: 0.5s ease-out
            opacity: 0
            transform: translate3d(0, 20px, 0)
            .started &
                opacity: 1
                transform: translate3d(0, 0, 0)

        &--main
            display: none
            .scene[data-point="0"] &,
            .scene[data-point="15"] &,
            .scene[data-point="16"] &,
            .scene[data-point="17"] &
                display: inline-block
        &--1
            display: none
            .scene[data-point="1"] &,
            .scene[data-point="2"] &,
            .scene[data-point="3"] &,
            .scene[data-point="4"] &
                display: inline-block
        &--2
            display: none
            .scene[data-point="5"] &,
            .scene[data-point="6"] &,
            .scene[data-point="7"] &,
            .scene[data-point="8"] &,
            .scene[data-point="9"] &
                display: inline-block
        &--3
            display: none
            .scene[data-point="10"] &,
            .scene[data-point="11"] &,
            .scene[data-point="12"] &,
            .scene[data-point="13"] &,
            .scene[data-point="14"] &
                display: inline-block
    &__progress
        position: fixed
        bottom: 37px
        left: 50%        
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        text-align: center

        opacity: 0
        transform: translate3d(-50%, 20px, 0)
        transition: opacity 0.5s ease-out, transform 0.5s ease-out
        transition-delay: 0.5s
        will-change: opacity, transform
        +max-screen($breakpoint-md)
            bottom: 62px

        .started &
            display: flex
            transform: translate3d(-50%, 0, 0)
            opacity: 1

        &__txt
            margin-bottom: 16px
            font-size: 16px
            line-height: 18px
            +max-screen($breakpoint-md)
                margin-bottom: 14px
                width: 300px
                max-width: 100%
        &__circle
            position: relative
            width: 50px
            height: 50px

            &__bg, svg
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
            svg
                transform: rotate(-90deg)
            &__icon
                position: absolute
                top: 26%
                left: 26%
                width: 48%
                height: 48%
                img
                    width: 100%
                    height: 100%
                    object-fit: contain

                    &.icon-desk
                        +max-screen($breakpoint-md)
                            display: none
                    &.icon-mob
                        +min-screen($breakpoint-md)
                            display: none
            #progress-circle
                stroke: #2A8C84
                will-change: stroke-dashoffset , stroke