.scene-footer
    position: fixed
    z-index: 90
    top: 0
    right: 0
    width: 100%
    height: 100%
    max-width: 435px
    box-sizing: border-box

    background-color: #072A4D
    padding-left: 70px
    padding-bottom: 142px
    padding-top: 68px
    padding-right: 70px

    transform: translate3d(0%,115%,0%)
    will-change: transform
    +max-screen($breakpoint-md)
        max-width: 100%
        height: auto
        width: 100%
        top: 100%
        //z-index: 100
        padding-bottom: 36px
        padding-left: 30px
        padding-right: 30px
        padding-top: 16px
    .started &
        //top: 100%
        transition: 0.8s cubic-bezier(1, 0.13, 0.58, 1)
        &.active
            //top: 0
            transform: translate3d(0%,0%,0%)
            z-index: 100
            +max-screen($breakpoint-md)
                top: 100%
                transform: translate3d(0%,-100%,0%)
                transition-delay: 1.2s
    &:before
        content: ''
        position: absolute
        bottom: 99%
        left: -1px
        width: 101%
        padding-bottom: 14%
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzc2IiBoZWlnaHQ9IjUxIiB2aWV3Qm94PSIwIDAgMzc2IDUxIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMzc1LjM4MSA0LjAxMTc2VjUwLjVIMC4zODA4NTlWMTEuMTM4NkMxMjQuNzQ0IC0zNi4zMjU2IDE5NC44NjEgOTkuNzg2MiAzNzUuMzgxIDQuMDExNzZaIiBmaWxsPSIjMDcyQTREIi8+Cjwvc3ZnPgo=')
        background-size: cover
        background-repeat: no-repeat
        background-position: top center

    &__inner
        height: 100%
        display: flex
        flex-direction: column
        justify-content: flex-end
        padding-bottom: 40px
        box-sizing: border-box
        +max-screen($breakpoint-md)
            padding-bottom: 0
    &__logo
        width: 176px
        max-width: 30%
        margin-bottom: 50px
        +max-screen($breakpoint-sm)
            margin-bottom: 30px
        img
            width: 100%
            height: auto
    &__content
        padding-bottom: 20px
        +max-screen($breakpoint-sm)
            padding-bottom: 8px
        p
            font-weight: 500
            font-size: 16px
            line-height: 1.25em
    &__nav
        margin-bottom: 52px
        +max-screen($breakpoint-sm)
            margin-bottom: 20px
        li
            padding: 18px 0
            border-bottom: 1px solid rgba(255,255,255,0.3)
            +max-screen($breakpoint-sm)
                padding: 14px 0
            &:nth-last-child(1)
                border-bottom: 0
        &-item
            &__link
                display: inline-block
                &:after
                    content: ''
                    display: inline-block
                    width: 16px
                    height: 16px
                    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxOSAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEuNTI5MyA3Ljk4OTAxTDE4LjIzOTcgNy45ODkwMSIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNMTEuNTY5MyAxNC42NzA5TDE4LjIyODkgOC4wMDAxMkwxMS41NjkzIDEuMzI5MzUiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==')
                    background-position: center
                    background-repeat: no-repeat
                    background-size: contain
                    margin-left: 14px
                    margin-top: 4px
                    transition: 0.3s
                &:hover
                    &::after
                        margin-left: 22px
                img
                    height: 24px
                    width: auto
                    +max-screen($breakpoint-sm)
                        height: 18px
    &__btn-start
        margin-bottom: 25px
    &__link
        align-self: center