.button
    --webkit-appearence: none
    position: relative
    display: inline-block
    box-sizing: border-box
    cursor: pointer

    min-width: 197px
    padding: 20px
    background-color: transparent
    border: 1px solid #fff
    border-radius: 100px

    color: #fff
    font-family: $font-family-quicksand
    font-size: 14px
    line-height: 1.02em
    text-align: center

    transition: 0.3s ease-out

    &:hover
        background-color: #fff
        color: $color-blue-bg


.link-icon
    --webkit-appearence: none
    position: relative
    display: inline-block
    box-sizing: border-box
    cursor: pointer

    background-color: transparent
    border: 0

    color: #fff
    font-family: $font-family-quicksand
    font-size: 14px
    line-height: 1.02em
    text-align: center

    transition: 0.3s ease-out

    &__inner
        display: flex
        align-items: center
    
    &__txt

    &__icon
        min-width: 25px
        width: 25px
        height: 25px
        
        margin-left: 8px

        border: 1px solid rgba(255,255,255,0.5)
        border-radius: 50%