.header
	position: fixed
	top: 68px
	left: 0
	width: 100%
	z-index: 99

	display: flex
	align-items: center
	justify-content: space-between

	padding: 0 62px
	box-sizing: border-box
	&-logo
		&__item
			&-main

			&-1
				display: none
			&-2
				display: none
			&-3
				display: none